* {
    box-sizing: border-box;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaedf2;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding: 10px;
}

.cell-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #323a45;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #f27835;
    margin-bottom: 10px;
}

#saved-list {
    background-color: #252b33;
    display: none;
    padding: 10px;
    color: #eaedf2;
}

#article-list {
    background-color: #ffffff;
    padding: 10px;
}

.article-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
}

button {
    border-radius: 60px;
    border: 0;
    font-familY: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
    background-color: #01afd2;
    padding: 5px 10px 5px 10px;
    max-width: max-content;
    margin: 5px;
}

button:hover {
    cursor: pointer;
}

textarea {
    width: 400px;
    height: 50px;
    font-style: 'Roboto', sans-serif;
    border: 0;
    background-color: #181a1b;
    color: white;
    margin: 5px;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
}

.saved-cell {
    display: flex;
    flex-direction: column;
}