
body, html {
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: rgb(218, 229, 250);
    padding: 10px;
}

#saved-list {
    background-color: grey;
    display: none;
}

#article-list {
    background-color: silver;
}